# 2 chhosing the right model for outr Proble
### Types of problems
* classification 
* Regression

In [1]:
import pandas as pd

In [ ]:
import numpy as np

### 2.1 picking up  amodel for regression problem

In [6]:
import numpy as np

In [2]:
# Import california housing dataset from sklearn

In [3]:
from sklearn.datasets import fetch_california_housing
housing=fetch_california_housing(as_frame=True)
housing=housing.frame
housing.head()

,MedInc,HouseAge,AveRooms,AveBedrms,Population,AveOccup,Latitude,Longitude,MedHouseVal
0,8.3252,41.0,6.984127,1.023810,322.0,2.555556,37.88,-122.23,4.526
1,8.3014,21.0,6.238137,0.971880,2401.0,2.109842,37.86,-122.22,3.585
2,7.2574,52.0,8.288136,1.073446,496.0,2.802260,37.85,-122.24,3.521
3,5.6431,52.0,5.817352,1.073059,558.0,2.547945,37.85,-122.25,3.413
4,3.8462,52.0,6.281853,1.081081,565.0,2.181467,37.85,-122.25,3.422

In [4]:
#split the data into X and Y
X=housing.drop('MedHouseVal',axis=1)
Y=housing['MedHouseVal']

In [7]:
# let's try the ridge regression model
from sklearn.linear_model import Ridge
from sklearn.model_selection import train_test_split
# split the data into train and test
X_train,X_test, Y_train,Y_test=train_test_split(X,Y,test_size=0.2)
np.random.seed(42)
model=Ridge()
model.fit(X_train,Y_train)
model.score(X_test,Y_test)

0.605761131898098

### How do we improve this model
### what if Ridge was not working

In [8]:
# let us try The random forest regressor model
from sklearn.ensemble import RandomForestRegressor
np.random.seed(42)
model=RandomForestRegressor()
model.fit(X_train,Y_train)
model.score(X_test,Y_test)

0.8064180116542152

## 2.2 choosing estimator for a classification problem

In [9]:
heart_disease=pd.read_csv('heart-disease.csv')
heart_disease.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1

In [10]:
len(heart_disease)

303

In [11]:
# import the LinearSVc model from sklearn
from sklearn.svm import LinearSVC
np.random.seed(42)
# create X and Y
X=heart_disease.drop('target', axis=1)
Y=heart_disease['target']
# split the data into train and test
X_train,X_test,Y_train,Y_test=train_test_split(X,Y,test_size=0.2)
model=LinearSVC()
model.fit(X_train, Y_train)
model.score(X_test,Y_test)

0.8688524590163934